.difference {
  overflow: hidden;
  width: 100%;
  height: 700px;
  background: url("../difference/img/bg.jpg") no-repeat center top;
  .content {
    width: 1000px;
    overflow: hidden;
    margin: 0 auto;
    padding-top: 240px;
    .fourDifference {
      position: relative;
      height: 390px;
      li {
        position: absolute;
        p {
          color: #757678;
          font-size: 14px;
          display: block;
          line-height: 25px;
          background: url("../difference/img/dian.png") no-repeat left 6.5px;
          padding-left: 18px;
        }
      }
      .difference1 {
        left: 18px;
        top: 0;
      }
      .difference2 {
        left: 660px;
        top: 0;
      }
      .difference3 {
        left: 18px;
        top: 225px;
      }
      .difference4 {
        left: 660px;
        top: 225px;
      }
    }
    b {
      display: block;
      width: 168px;
      height: 42px;
      overflow: hidden;
      margin: 0 auto;
      a {
        display: block;
        width: 168px;
        height: 42px;
        overflow: hidden;
      }
    }
  }
}
