.innovation {
  overflow: hidden;
  width: 100%;
  height: 703px;
  background: url("./img/bg.jpg") no-repeat center top;
  padding-top: 70px;
  .title {
    overflow: hidden;
    width: 100%;
    margin-bottom: 35px;
    p {
      color: #43454c;
      font-size: 47px;
      text-align: center;
      font-family: Arial, Helvetica, sans-serif;
      font-weight: bold;
      word-spacing: -1.5px;
    }
    h3 {
      color: #fff;
      background: url("./img/title.png") no-repeat center bottom;
      text-align: center;
      font-size: 25px;
      padding-bottom: 15px;
      font-weight: normal;
    }
  }
  .menu {
    overflow: hidden;
    width: 100%;
    text-align: center;
    padding-bottom: 8px;
    margin-bottom: 30px;
    li {
      display: inline-block;
      margin: 0 6px;
      width: 152px;
      height: 45px;
      border: 1px solid #64666b;
      text-align: center;
      line-height: 45px;
      font-size: 16px;
      position: relative;
      color: #b8bac3;
      cursor: pointer;
      img {
        display: none;
        position: absolute;
        bottom: -8px;
        left: 67px;
      }
    }
    .cur {
      background-color: #df131e;
      border-color: #df131e;
      color: #fff;
      img {
        display: block;
      }
    }
  }
  .content {
    overflow: hidden;
    width: 1000px;
    padding: 0 20px;
    padding-bottom: 40px;
    background: url("./img/shadow.png") no-repeat center bottom;
    margin: 0 auto;
    height: 396px;
    position: relative;
    .el-carousel__item {
      overflow: hidden;
      width: 1000px;
      background-color: #fff;
      height: 396px;
      .wen {
        overflow: hidden;
        width: 405px;
        height: 100%;
        float: left;
        margin-left: 30px;
        margin-top: 25px;
        position: relative;
        b {
          display: block;
          font-size: 33px;
          color: #a5a5a5;
          width: 50px;
          height: 64px;
          border: 3px solid #dfdfdf;
          background: url("./img/wen.png") no-repeat center 50px;
          text-align: center;
          padding-top: 10px;
          position: absolute;
          right: 0;
          top: 0;
        }
        h4 {
          font-size: 26px;
          color: #df131e;
          margin-top: 20px;
          margin-bottom: 5px;
        }
        span {
          display: block;
          font-size: 13px;
          color: #959595;
          font-family: Arial, Helvetica, sans-serif;
          margin-bottom: 40px;
        }
        p {
          font-size: 14px;
          color: #333;
          line-height: 31px;
          text-align: justify;
          width: 85%;
          word-spacing: -1.5px;
        }
      }
      img {
        display: block;
        float: right;
      }
    }
  }
}
