.main {
  background: #ececec;
  overflow: hidden;
  .container {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    padding-bottom: 30px;
    .left {
      float: left;
      width: 230px;
      .title {
        overflow: hidden;
        background: #e81723;
        width: 230px;
        height: 160px;
        font-size: 30px;
        color: #fff;
        font-weight: normal;
        text-align: center;
        a {
          display: block;
          margin-top: 60px;
          line-height: 30px;
          color: #fff;
          text-decoration: none;
        }
      }
      ul {
        background: #fff;
        padding-top: 10px;
        li {
          padding-bottom: 15px;
          a {
            height: 50px;
            line-height: 50px;
            padding-left: 25px;
            display: block;
            font-size: 16px;
            color: #000;
            margin: 0 10px;
            text-decoration: none;
            background: #ececed;
          }
          a:hover {
            background-color: #e81723;
            color: #fff;
          }
        }
      }
      .subcontent {
        h4 {
          padding: 0 10px;
          color: #fff;
          font-size: 16px;
          line-height: 40px;
          background: #e81723;
          margin-top: 10px;
        }
        .recommend {
          border: 1px solid #fff;
          border-top: 0;
          padding: 8px 1px;
          margin-bottom: 10px;
          zoom: 1;
          overflow: hidden;
          background: #fff;
          dl {
            margin-bottom: 10px;
            width: 180px;
            padding: 20px 5px 5px 20px;
            dt {
              width: 180px;
              a {
                color: #666;
                text-decoration: none;
                img {
                  width: 180px;
                  padding: 1px;
                  border: 1px solid #d7d7d7;
                }
                img:hover {
                  border-color: #e81723;
                }
              }
            }
            dd {
              margin-top: 12px;
              text-align: center;
              font-size: 14px;
              a {
                text-decoration: none;
                color: #666;
              }
              a:hover {
                text-decoration: underline;
              }
            }
          }
        }
        .contact {
          margin-bottom: 10px;
          .contactUs {
            padding: 0 10px;
            color: #fff;
            font-size: 16px;
            line-height: 40px;
            background: #e81723;
            margin-top: 10px;
            h5 {
              text-align: left;
              font-size: 16px;
              a {
                color: #fff;
                text-decoration: none;
              }
              a:hover {
                text-decoration: underline;
              }
            }
          }
          .sub {
            background: none repeat scroll 0 0 #fff;
            border: 1px solid #fff;
            overflow: hidden;
            padding: 5px 9px;
            width: 209px;
            img {
              border: 0;
            }
            p {
              line-height: 25px;
              overflow: hidden;
              font-size: 16px;
              word-spacing: -1.5px;
              span {
                color: #333;
              }
            }
            .tel {
              color: #e81723;
            }
          }
        }
      }
    }
    .right {
      width: 700px;
      padding: 0 26px;
      background-color: #fff;
      float: right;
      padding-bottom: 20px;
      .header {
        overflow: hidden;
        padding-top: 28px;
        padding-bottom: 9px;
        border-bottom: 1px solid #dbdbdb;
        h5 {
          float: left;
          padding-left: 10px;
          border-left: 3px solid #e81723;
          font-weight: normal;
          line-height: 16px;
          font-size: 12px;
          span {
            font-size: 16px;
            color: #e81723;
          }
          span:hover {
            text-decoration: underline;
            cursor: pointer;
          }
        }
        ::v-deep {
          .el-breadcrumb {
            float: right;
            .el-breadcrumb__item {
              font-size: 12px;
              .el-breadcrumb__inner {
                color: #999;
              }
              .el-breadcrumb__inner a,
              .el-breadcrumb__inner.is-link {
                font-weight: normal;
              }
              .el-breadcrumb__inner a,
              .el-breadcrumb__inner.is-link:hover {
                color: #e81723;
                text-decoration: underline;
              }
            }
          }
        }
      }
      .content {
        overflow: hidden;
        padding-top: 20px;
        li {
          float: left;
          width: 220px;
          margin-right: 19px;
          a {
            text-decoration: none;
            color: #666;
            img {
              display: block;
              border: 1px solid #d3d3d3;
              width: 220px;
              height: 175px;
            }
            img:hover {
              border-color: #e81723;
            }
          }
          h4 {
            overflow: hidden;
            margin-top: 20px;
            font-weight: normal;
            height: 37px;
            text-align: center;
            font-size: 14px;
            a {
              font-size: 14px;
              color: #666;
            }
            a:hover {
              color: #e81723;
            }
          }
        }
        li:nth-child(3n) {
          margin-right: 0;
        }
      }
      .clear {
        clear: both;
        height: 0;
        line-height: 0;
        font-size: 0;
      }
      .block {
        padding: 15px 10px;
        border: 1px solid #ccc;
        .el-pagination {
          display: flex;
          justify-content: flex-end;
          .el-pager {
            .active {
              color: #e81723 !important;
            }
          }
        }
      }
    }
  }
}
