.aboutUs {
  overflow: hidden;
  width: 100%;
  height: 990px;
  background: url("../about/img/about_bg.jpg") no-repeat center top;
  background-color: #d2d2d2;
  .title {
    overflow: hidden;
    width: 100%;
    margin-bottom: 35px;
    p {
      text-align: center;
      font-size: 47px;
      color: #e3e3e3;
      font-family: Arial, Helvetica, sans-serif;
      text-transform: uppercase;
      font-weight: bold;
    }
    h3 {
      text-align: center;
      font-size: 25px;
      color: #000;
      padding-bottom: 15px;
      background: url("../about/img/title_bg.png") no-repeat center bottom;
      font-weight: normal;
      a {
        text-decoration: none;
        color: #000;
      }
      a:hover {
        text-decoration: underline;
      }
    }
  }
  dl {
    overflow: hidden;
    width: 1000px;
    margin: 0 auto;
    height: 250px;
    margin-bottom: 90px;
    dt {
      overflow: hidden;
      width: 483px;
      height: 250px;
      float: left;
    }
    dd {
      overflow: hidden;
      float: right;
      width: 490px;
      height: 250px;
      p {
        font-size: 13px;
        color: #333;
        line-height: 26px;
        height: 182px;
        overflow: hidden;
        text-align: justify;
        margin-bottom: 30px;
        word-spacing: -1.5px;
      }
    }
    .btn {
      overflow: hidden;
      width: 100%;
      a {
        display: block;
        width: 110px;
        height: 35px;
        text-align: center;
        line-height: 35px;
        border: 1px solid #b6b6b6;
        font-size: 13px;
        color: #000;
        float: left;
        margin-right: 10px;
        text-decoration: none;
      }
      a:hover {
        background-color: #fd581f;
        border-color: #fd581f;
        color: #fff;
      }
    }
  }
}
