.banner {
  width: 100%;
  margin-bottom: 0;
  overflow: hidden;
  text-align: center;
  .show {
    width: 100%;
    height: 300px;
    background: url("../../../../assets/banner2.jpg") no-repeat center top;
  }
}
