.main {
  background: #ececec;
  overflow: hidden;
  .container {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    padding-bottom: 30px;
    .left {
      float: left;
      width: 230px;
      .title {
        overflow: hidden;
        background: #e81723;
        width: 230px;
        height: 150px;
        font-size: 30px;
        color: #fff;
        font-weight: normal;
        text-align: center;
        a {
          display: block;
          margin-top: 60px;
          line-height: 30px;
          color: #fff;
          text-decoration: none;
        }
      }
      ul {
        background: #fff;
        padding: 10px 0px;
        .cur {
          a {
            color: #e81723;
          }
        }
        a {
          overflow: hidden;
          display: block;
          height: 40px;
          line-height: 40px;
          padding-left: 66px;
          font-size: 16px;
          text-decoration: none;
          background: url("../../../../assets/leftmuli.png") no-repeat center;
          border-top: 2px solid #fff;
          border-bottom: 2px solid #fff;
          color: #666;
        }
        a:hover {
          color: #e81723;
        }
      }
    }
    .right {
      width: 700px;
      padding: 0 26px;
      background-color: #fff;
      float: right;
      padding-bottom: 20px;
      .header {
        overflow: hidden;
        padding-top: 28px;
        padding-bottom: 9px;
        border-bottom: 1px solid #dbdbdb;
        h5 {
          float: left;
          padding-left: 10px;
          border-left: 3px solid #e81723;
          font-weight: normal;
          line-height: 16px;
          font-size: 12px;
          span {
            font-size: 16px;
            color: #e81723;
          }
          span:hover {
            text-decoration: underline;
            cursor: pointer;
          }
        }
        ::v-deep {
          .el-breadcrumb {
            float: right;
            .el-breadcrumb__item {
              font-size: 12px;
              .el-breadcrumb__inner {
                color: #999;
              }
              .el-breadcrumb__inner a,
              .el-breadcrumb__inner.is-link {
                font-weight: normal;
              }
              .el-breadcrumb__inner a,
              .el-breadcrumb__inner.is-link:hover {
                color: #e81723;
                text-decoration: underline;
              }
            }
          }
        }
      }
      .content {
        width: 700px;
        padding-top: 10px;
        line-height: 24px;
        .text {
          font-size: 16px;
          color: #666;
        }
      }
      .clear {
        clear: both;
        height: 0;
        line-height: 0;
        font-size: 0;
      }
    }
  }
}
