.search {
  overflow: hidden;
  width: 100%;
  padding: 20px 0;
  border-bottom: 1px solid #e4e4e4;
  height: 38px;
  .container {
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
    p {
      float: left;
      font-size: 14px;
      color: #cc000c;
      line-height: 38px;
      word-spacing: -1.5px;
      margin-right: 20px;
      em {
        font-style: normal;
        font-weight: normal;
        .words {
          color: #6e6e6e;
          text-decoration: none;
          font-size: 13px;
          margin-right: 8px;
        }
      }
    }
    .sbox {
      float: right;
      overflow: hidden;
      width: 380px;
      height: 36px;
      padding: 1px;
      background-color: #db101b;
      input {
        display: block;
        width: 305px;
        height: 36px;
        border: none;
        outline: none;
        line-height: 36px;
        font-size: 13px;
        color: #6e6e6e;
        padding: 0 15px;
        float: left;
      }
      span {
        display: block;
        width: 45px;
        height: 36px;
        float: right;
        cursor: pointer;
        button {
          border: 0;
          color: #fff;
          width: 47px;
          background: url("../search/img/search.png") no-repeat center;
          height: inherit;
        }
      }
    }
  }
}
