.main {
  background: #ececec;
  overflow: hidden;
  .container {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    padding-bottom: 30px;
    .left {
      float: left;
      width: 230px;
      .title {
        overflow: hidden;
        background: #e81723;
        width: 230px;
        height: 160px;
        font-size: 30px;
        color: #fff;
        font-weight: normal;
        text-align: center;
        a {
          display: block;
          margin-top: 60px;
          line-height: 30px;
          color: #fff;
          text-decoration: none;
        }
      }
      ul {
        background: #fff;
        padding-top: 10px;
        li {
          padding-bottom: 15px;
          span {
            height: 50px;
            line-height: 50px;
            padding-left: 25px;
            display: block;
            font-size: 16px;
            color: #000;
            margin: 0 10px;
            text-decoration: none;
            background: #ececed;
          }
          span:hover {
            background-color: #e81723;
            color: #fff;
          }
        }
        .cur span {
          background-color: #e81723;
          color: #fff;
        }
      }
      .subcontent {
        h4 {
          padding: 0 10px;
          color: #fff;
          font-size: 16px;
          line-height: 40px;
          background: #e81723;
          margin-top: 10px;
        }
        .recommend {
          border: 1px solid #fff;
          border-top: 0;
          padding: 8px 1px;
          margin-bottom: 10px;
          zoom: 1;
          overflow: hidden;
          background: #fff;
          dl {
            margin-bottom: 10px;
            width: 180px;
            padding: 20px 5px 5px 20px;
            dt {
              width: 180px;
              a {
                color: #666;
                text-decoration: none;
                img {
                  width: 180px;
                  padding: 1px;
                  border: 1px solid #d7d7d7;
                }
                img:hover {
                  border-color: #e81723;
                }
              }
            }
            dd {
              margin-top: 12px;
              text-align: center;
              font-size: 14px;
              a {
                text-decoration: none;
                color: #666;
              }
              a:hover {
                text-decoration: underline;
              }
            }
          }
        }
        .contact {
          margin-bottom: 10px;
          .contactUs {
            padding: 0 10px;
            color: #fff;
            font-size: 16px;
            line-height: 40px;
            background: #e81723;
            margin-top: 10px;
            h5 {
              text-align: left;
              font-size: 16px;
              a {
                color: #fff;
                text-decoration: none;
              }
              a:hover {
                text-decoration: underline;
              }
            }
          }
          .sub {
            background: none repeat scroll 0 0 #fff;
            border: 1px solid #fff;
            overflow: hidden;
            padding: 5px 9px;
            width: 209px;
            img {
              border: 0;
            }
            p {
              line-height: 25px;
              overflow: hidden;
              font-size: 16px;
              word-spacing: -1.5px;
              span {
                color: #333;
              }
            }
            .tel {
              color: #e81723;
            }
          }
        }
      }
    }
    .right {
      width: 700px;
      padding: 0 26px;
      background-color: #fff;
      float: right;
      padding-bottom: 20px;
      .header {
        overflow: hidden;
        padding-top: 28px;
        padding-bottom: 9px;
        border-bottom: 1px solid #dbdbdb;
        h5 {
          float: left;
          padding-left: 10px;
          border-left: 3px solid #e81723;
          font-weight: normal;
          line-height: 16px;
          font-size: 12px;
          span {
            font-size: 16px;
            color: #e81723;
          }
          span:hover {
            text-decoration: underline;
            cursor: pointer;
          }
        }
        ::v-deep {
          .el-breadcrumb {
            float: right;
            .el-breadcrumb__item {
              font-size: 12px;
              .el-breadcrumb__inner {
                color: #999;
              }
              .el-breadcrumb__inner a,
              .el-breadcrumb__inner.is-link {
                font-weight: normal;
              }
              .el-breadcrumb__inner a,
              .el-breadcrumb__inner.is-link:hover {
                color: #e81723;
                text-decoration: underline;
              }
            }
          }
        }
      }
      .introduction {
        .main {
          background: #fff;
          width: 700px;
          .mainContent {
            padding: 15px 0;
            clear: both;
            transform: scale(1);
            .proviewBox {
              float: left;
              width: 305px;
              position: relative;
              .top {
                position: relative;
                width: 300px;
                padding: 1px;
                border: 1px solid #ddd;
                overflow: hidden;
                img {
                  outline-style: none;
                  display: block;
                  position: relative;
                  width: 300px;
                  height: 277px;
                }
              }

              .bottom {
                position: relative;
                padding: 15px 15px 0;
                ul {
                  position: relative;
                  overflow: hidden;
                  li {
                    width: 70px;
                    height: 70px;
                    text-align: left;
                    img {
                      border: 1px solid #c00;
                      padding: 1px;
                      width: 60px;
                      height: 60px;
                    }
                  }
                }
              }
            }
            .show {
              float: left;
              width: 370px;
              margin-left: 16px;
              h2 {
                font-size: 16px;
                color: #414141;
                border-bottom: 1px dashed #bbb;
                padding: 2px 0 10px;
                line-height: 1.6em;
              }
              span {
                display: block;
                width: 372px;
                line-height: 24px;
                padding: 12px 0;
                color: #666;
                font-size: 12px;
              }
              ul {
                padding: 18px 15px;
                overflow: hidden;
                background: #f3f3f3;
                font-size: 14px;
                color: #666;
                font-weight: bold;
                li {
                  padding: 5px 0 10px;
                  span {
                    display: inline;
                    font-size: 24px;
                    color: red;
                    font-weight: normal;
                  }
                  a {
                    display: block;
                    width: 128px;
                    height: 50px;
                    line-height: 50px;
                    text-align: center;
                    color: #fff;
                    background: #db0b19;
                    font-size: 18px;
                    text-decoration: none;
                  }
                }
              }
            }
          }
          .clear {
            clear: both;
            height: 0;
            overflow: hidden;
          }
          .recommend {
            border: 1px solid #d7d7d7;
            background: #fff;
            padding-bottom: 12px;
            margin-top: 20px;
            margin-bottom: 10px;
            p {
              line-height: 25px;
              font-size: 14px;
              color: #e81723;
              padding: 0 8px;
              background: #f7f7f7;
              border-bottom: 1px solid #d7d7d7;
            }
            dl {
              width: 164px;
              overflow: hidden;
              float: left;
              display: inline;
              padding: 12px 2px 0 7px;
              dt {
                width: 164px;
                overflow: hidden;
                a {
                  width: 160px;
                  display: block;
                  border: 1px solid #d5d5d5;
                  padding: 1px;
                  img {
                    width: 160px;
                    display: block;
                  }
                }
                a:hover {
                  border: 1px solid #b61212;
                }
              }
            }
            dd {
              line-height: 24px;
              padding-top: 8px;
              overflow: hidden;
              display: block;
              width: 164px;
              text-align: center;
              a {
                color: #666;
                text-decoration: none;
                font-size: 12px;
              }
              a:hover {
                text-decoration: underline;
              }
            }
          }
        }
      }
      .routeIntrocuction {
        clear: both;
        margin-bottom: 10px;
        position: relative;
        ul {
          border-bottom: 1px solid #e81723;
          height: 33px;
          li {
            h3 {
              display: block;
              color: #e81723;
              width: 128px;
              height: 32px;
              line-height: 32px;
              text-align: center;
              font-size: 14px;
              border: 1px solid #e81723;
              border-bottom: 1px solid #fff;
            }
          }
        }
      }
      .routeContent {
        font-size: 14px;
        line-height: 25px;
        .text {
          p {
            font-size: 16px;
            color: #666;
          }
          .active {
            color: #ff0000;
          }
        }
      }
      .information {
        font-size: 14px;
        line-height: 25px;
        p {
          color: #414141;
          font-size: 16px;
          padding: 25px 0;
          word-spacing: -1.5px;
          font {
            color: #f01414;
            display: block;
            margin-top: 5px;
            font-size: 12px;
          }
        }
        ul {
          li {
            width: 310px;
            height: 38px;
            margin-bottom: 13px;
            color: #777;
            label {
              border: 1px solid #dedede;
              width: 77px;
              height: 36px;
              line-height: 36px;
              display: inline-block;
              text-align: center;
              background: #fff;
              font {
                font-size: 13px;
                display: block;
                position: absolute;
                width: 10px;
                height: 10px;
                margin-left: 5px;
                margin-top: 2px;
                color: #f01414;
              }
            }
            input {
              width: 230px;
              height: 16px;
              line-height: 16px;
              padding: 10px 0;
              outline: none;
              border: 1px solid #dedede;
              border-left-width: 0;
              text-indent: 1em;
              background: #fff;
              color: #333;
            }
          }
          .submit {
            width: 310px;
            margin-bottom: 13px;
            input {
              width: 310px;
              height: 38px;
              background: #e81723;
              border: none;
              color: #fff;
            }
          }
          .area {
            float: right;
            width: 310px;
            height: 205px;
            margin-right: 50px;
            margin-bottom: 13px;
            color: #777;
            font {
              font-size: 13px;
              display: block;
              position: absolute;
              width: 10px;
              height: 10px;
              margin-left: 18px;
              margin-top: 17px;
              color: #f01414;
            }
            textarea {
              float: left;
              margin-left: 12px;
              width: 296px;
              height: 161px;
              border: 1px solid #dedede;
              outline: none;
              resize: none;
              padding: 14px;
              color: #333;
              line-height: 18px;
            }
          }
        }
      }
      .clear {
        clear: both;
        height: 0;
        line-height: 0;
        font-size: 0;
      }
    }
  }
}
