.header-top {
  overflow: hidden;
  display: flex;
  justify-content: flex-end;
  margin-right: 175px;
  width: 100%;
  height: 34px;
  background: url("../header/img/header_top.png") no-repeat center top;
  ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 181px;
    margin-right: 40px;
    margin-top: 8px;
    li {
      width: 90px;
      font-size: 13px;
      text-align: center;
      a {
        color: #666;
      }
    }
    .consult {
      border-right: 1px dotted #7a7a7a;
    }
  }
}
.header-logo {
  height: 120px;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-around;
}

.header-logo-left {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  h1 {
    padding-right: 20px;
    border-right: 1px solid #dcdcdc;
  }
  h3 {
    margin: 0 20px;
    width: 300px;
  }
}
.header-logo-right {
  display: flex;
  flex-direction: column;
  align-items: start;
  overflow: hidden;
  margin-top: 10px;
  padding-left: 55px;
  margin-right: 30px;
  background: url("../header/img/phone.png") no-repeat center left;
  p {
    font-size: 13px;
    color: #858585;
    word-spacing: -1.5px;
    margin-bottom: 0;
  }
  b {
    display: block;
    font-family: Arial;
    font-size: 24px;
    color: #fd581f;
  }
}
