h1 {
  margin: 0;
}

.header-top {
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: flex-end;
  margin: 0 auto;
  width: 1000px;
  height: 34px;
  background: url("../header/img/header_top.png") no-repeat center top;
  .container {
    position: absolute;
    top: 3px;
    right: 30px;
    ul {
      list-style: none;
      display: flex;
      flex-direction: row;
      justify-content: center;
      width: 181px;
      margin-right: 16px;
      margin-top: 8px;
      li {
        width: 90px;
        font-size: 13px;
        text-align: center;
        a {
          color: #666;
          text-decoration: none;
        }
        a:hover {
          text-decoration: underline;
        }
      }
      .consult {
        border-right: 1px dotted #7a7a7a;
      }
    }
  }
}

.header-logo {
  width: 1000px;
  height: 120px;
  display: flex;
  flex-wrap: nowrap;
  margin: 0 auto;
  margin-top: 15px;
  justify-content: space-between;
}

.header-logo-left {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  h1 {
    padding-right: 20px;
    border-right: 1px solid #dcdcdc;
  }
  h3 {
    margin: 0 20px;
    width: 330px;
  }
}

.header-logo-right {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  overflow: hidden;
  margin-top: 10px;
  padding-left: 55px;
  margin-right: 30px;
  background: url("../header/img/phone.png") no-repeat 0px 30%;
  p {
    font-size: 13px;
    color: #858585;
    word-spacing: -1.5px;
    margin-bottom: 0;
  }
  b {
    display: block;
    font-family: Arial;
    font-size: 24px;
    color: #fd581f;
  }
}

.header-bar {
  background-color: #df131e;
  height: 62px;
  line-height: 62px;
  .nav {
    width: 1000px;
    margin: 0 auto;
    ul {
      display: flex;
      li {
        position: relative;
        font-size: 16px;
        width: 125px;
        text-align: center;
        img {
          position: absolute;
          left: 0;
          top: 0;
        }
        span {
          position: relative;
          padding: 0 20px;
          cursor: pointer;
        }
      }
      li:hover {
        cursor: pointer;
      }
    }
  }
}

.bar-active {
  background: url("../header/img/header_nav_cur.png") repeat center;
  pointer-events: painted;
}

.bar-active-hover {
  img {
    display: none;
  }
}

.bar-active-hover:hover {
  background: url("../header/img/header_nav_cur.png") repeat center;
  img {
    display: block;
  }
}

.bar-active-hover:hover span {
  color: #000 !important;
  position: relative;
}
