.news {
  width: 273px;
  float: right;
  border: 1px solid #d5d5d5;
  padding-bottom: 15px;
  background: #fff;
  overflow: hidden;
  h4 {
    background: #e2e2e2;
    line-height: 28px;
    text-indent: 15px;
    a {
      font-size: 14px;
      text-decoration: none;
      color: #000;
    }
  }
  ul {
    background: url("./img/news_list_bg.gif") no-repeat 0 5px;
    width: 220px;
    margin: 8px auto;
    overflow: hidden;
    padding-left: 5px;
    li {
      height: 24px;
      line-height: 24px;
      text-overflow: ellipsis;
      padding-left: 24px;
      overflow: hidden;
      a {
        color: #666;
        text-decoration: none;
        font-size: 12px;
      }
      a:hover {
        text-decoration: underline;
      }
    }
  }
}
